<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rss Feed</title>
  <link href="index.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-gray-900">
<main class="max-w-4xl m-auto mt-3 p-3">
  <h1 class="font-bold text-5xl mb-5 text-gray-900 dark:text-gray-100">News Feed</h1>
  <ol class="list-outside">
    {{#each items}}
    <li class="mb-3 flex flex-col">
      <a href="{{this.link}}"
         class="font-semibold text-xl text-blue-500 visited:text-purple-500 visited:font-normal">{{this.title}}</a>
      <p class="text-gray-800 dark:text-gray-200">{{this.host}}</p>
    </li>
    {{/each}}
  </ol>
</main>
</body>
</html>
